.legend{
  border-style:solid;
  margin-left: 20px;
  padding: 20px;
  align-Self: 'flex-start';
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 8px;
  opacity: 0.5;
}